<div class="course-card">
    <div class="course-title">{{ data.description }}</div>

    @if (data.id === 1) {
    <h2>Course with ID 1 detected</h2>
    } @else if (data.iconUrl) {
    <img width="300" alt="Angular Logo" [src]="data.iconUrl" />
    } @else {
    <h2>No image available!</h2>
    }

    <div class="course-description">
        {{ data.longDescription }}
    </div>

    <div class="course-category">
        @switch (data.category) { @case ('BEGINNER') {
        <div class="category">Beginner</div>
        } @case ('INTERMEDIATE') {
        <div class="category">Intermediate</div>
        } @case ('ADVANCED') {
        <div class="category">Advanced</div>
        } @default {
        <div class="category">Unknown</div>
        } }
    </div>

    <button (click)="onHandleClick()">View Course</button>

    <ng-content select="#totalCount" />

    <ng-content />
</div>
