<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" />
</div>

<h1 #header i18n>{coursesTotal, plural, =0 {No courses available} =1 {One course available} other {A total of {{ coursesTotal }} is available} }</h1>

<div class="demo-triggers">
    <input placeholder="Type to trigger prefetch" #prefecth/>
    <button #display>Trigger display</button>
</div>

<div>
    @defer (on interaction(display); prefetch on hover(header)) {
    <div class="courses" *ngIf="courses$ | async | filterByCategory : 'ADVANCED' as courses">
        <course-card (courseChanged)="save($event)" *ngFor="let course of courses" [course]="course">
            <course-image [src]="course.iconUrl"></course-image>
        </course-card>
    </div>
    } @placeholder {
    <h2>This is the placeholder!</h2>
    } @loading (after 1s) {
    <h2>Loading...</h2>
    } @error {
    <h2>Error loading courses</h2>
    }
</div>
